{
    "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
    "plugins": [
        ["@babel/plugin-transform-runtime", { "regenerator": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": false }],
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@/root": "./src/system",
                    "@/modules": "./src/modules",
                    "@/assets": "./src/assets",
                    "@/utils": "./src/utils",
                    "@/components": "./src/components",
                    "@/store": "./src/store"
                }
            }
        ]
    ]
}
