.button {
    background-color: #151b23;
    color: white;
    border: 1px solid rgb(61, 68, 77);
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition:
        background-color 200ms ease,
        border-color 200ms ease;
}
.button:hover {
    background-color: #30363d;
    border-color: #8b949e;
}
.button:active {
    background-color: #161b22;
}
