.App {
    top: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: flex-start;

    min-height: 80vh;
    max-width: 60vh;
    background: #151b23;

    color: white;
}
